
.logo{
	width:10%;
	height:8%;
	float:left;
}
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
/*.main{
	width: 100%;
	background: linear-gradient(to top, rgba(0,0,0,0.5)50%, rgba(0,0,0,0.5)50%, url(./image/bg.jpg);
	background-position:center;
	background-size:cover;
	height: sans-serif;
}*/
:root{
	--color-white: #fff;
	--color-light:#f1f5f9;
	--color-black:#121212;
	--color-night:#001623;
	--color-red:#f44336;
	--color-blue:#1a73e8;
	--color-gray:#80868b;
	--color-grayish:#dadce0;
	--color-yellow:#F5FF39;
	--color-green-black:#003012;
	--shadow-normal:
		0 1px 2px 0 #0000001a,
		0 1px 2px 0 #0000000f;
	--shadow-medium:
		0 4px 6px -1px #0000001a,
		0 2px 4px -1px #0000000f;
	--shadow-large: 
		0 10px 15px -3px #0000001a,
		0 4px 6px -2px #0000000d;	
}
.menu{
	width: 1000px;
	float: right;
	width: 89%;
	margin-top:0.5rem;
}
ul{
	list-style-type: none;
	margin: 0;
	padding-left: 14px;
	overflow: hidden;
	background-color: var(--color-white);
	font-family:Arial,sans-serif;
	display: flex;
	justify-items:center;
	align-items: center;

}
/*li{
	float:left;
}*/
body{
	display:grid;
	min-width:1024px;
	grid-template-areas:
	"nav-cell" "main-cell" "footer-cell";
}
.main{
	grid-area: nav-cell;
	position:relative;
	top:0px;
	left: 0px;
	right:0px;
	width:100%;
	background:#fff;
	margin-bottom:0px;
	z-index:100;
}
ul li{
	list-style: none;
	margin-left: 40px;
	font-size: 15px;
	padding-top: 30px;
}
li a, .dropbtn{
	display: inline-block;
	color: black;
	text-align: center;
	padding: 14px 16x;
	text-decoration: none;
	font-weight: bold;
	transition: .3s ease;

	
}
.local{
	color:var(--color-blue);
	transform:scale(1.1);
}
li a:hover, .dropdown:hover, .dropbtn, .dropdown-content, h3 a:hover{
	background-color: var(--color-white);
	color: blue;
}
li a:hover, h3 a:hover{
	transform: scale(1.1);
}
li.dropdown{
	display: inline-block;
}
.dropdown-content{
	display: none;
	position: absolute;
	background-color: var(--color-white);
	min-width: 100px;
	font-size: 15px;
	box-shadow: 0px 8px 16px 0px #F4F3F3;
	z-index: 1;
	border-radius: 10px;
}
.dropdown-content a{
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	text-align: left;

}
.dropdown-content a:hover{
	background-color: var(--color-white);
	border-radius: 10px;
}
.dropdown:hover, .dropdown-content{
	display: block;
}
.dropdown:not(:hover) .dropdown-content {
  display: none;
}
.search-box{
	float: right;
	width: 200px;
	background: #F4F3F3;
	height: 30px;
	padding: 8px;
	padding-left: 0px;
	border-radius: 15px;
	margin-top: 1.4%;
	margin-right:2%;
	display: flex;
	align-items: center;
	justify-content:center;
	display:flex;
}
.search-box .search-txt{
	width:190px;
	padding: 0 6px;
	border: none;
	background: none;
	outline: none;
	float: left;
	color: black;
	font-size: 15px;
	line-height: 28px;
	letter-spacing: .6px;
}
.search-btn{
	text-decoration: none;
	color: #000;
	border: white;
	
}
.one-col{
	grid-area:main-cell;
	margin-top:30px;
}
h1{
	display:flex;
	justify-content:center;
	font-weight:600;
	font-size:20px;
	box-sizing:border-box;
	padding: 4px 8px;
	margin-top:30px;
	margin-bottom: 30px;
	border-radius:5px;
	font-family: Arial;
	text-align:center;
	line-height:1.2;
	align-items: center;
}

/*Về đầu trang*/
.fa-arrow-circle-o-up{
    position: fixed;
    bottom: 10px; /* Di chuyển đến góc dưới */
    right: 30px; /* Di chuyển đến góc phải */
    margin: 10px; /* phần không gian điệm */
    z-index: 100; /* z-index */
	height: 50px;
	width: 50px;
	color: var(--color-blue);
}
footer{
	grid-area:footer-cell;
}
.footer{
	display:grid;
	grid-template-columns: repeat(5,1fr);
	height: 200px;
	margin-left: 30px;
	margin-top: 30px;
	padding:20px;
	padding-bottom:20px;
	list-style:none;
	font-family: Arial;
	line-height:30px;
	flex-wrap: wrap;
}
.footer>div{
	margin-left: 20px;
	margin-bottom: 30px;
}
.footer ol{
	list-style-type:none;
	padding: 0;
	margin:0;
}
.footer1 p, .footer2 p, .footer3 p, .footer4 p{
	font-weight:bold;
}
ol li, .footer4>a, ol li a, .end{
	font-weight:normal;
}
.logofooter{
	width:80%;
	height:auto;
	margin-left: 20px;
}
.end{
	text-align:center;
	font-family:Arial;
	font-size:15px;
	margin-top:35px;
}
/*trangchu+sp*/
.one-col{
	display:flex;
	grid-area:main-cell;
	background-color:var(--color-light);
}
.article-home {
    display: flex;
    justify-content: center; /* Căn giữa theo chiều ngang */
    align-items: center; /* Căn giữa theo chiều dọc */
}

.product {
    font-family: Arial, sans-serif;
    display: flex;
    flex-wrap: wrap; /* Cho phép các sản phẩm tràn xuống dòng mới nếu không đủ không gian */
    justify-content: center; /* Căn giữa theo chiều ngang */
    align-items: center; /* Căn giữa theo chiều dọc */
}

.yellow1, .black1, .blue1, .white1,.red1, .green1,.sky-blue1, .da1, .greenwhite1, .grayish1, .pink1, .orange1{
  width: 2rem;
  height: 2rem;
  border-radius: 50%; /* Đảm bảo hình tròn bằng cách sử dụng giá trị 50% */
  border:2px solid #A4A4A4;
  margin-right: 0.5rem;
}
.option-color-item{
	display: flex;
	justify-content:left;
	margin:2rem 0;
}
.item{
	background-color: var(--color-white);
	width: 400px;
	justify-content:center;
	border: 1px solid var(--color-grayish);
	border-radius:10px;
	margin: 2px 3px 2px 0px;
	padding: 2rem;
	display: flex;
    flex-direction: column; /* Xếp các phần tử con theo chiều dọc */
    align-items: center;
	height: 500px;
}
.price{
	float:left;
	display:flex;
	align-items:center;
	margin-bottom:1rem;
	
}
.buy-btn{
	grid-area:right-cell;
	margin-left:2rem;
	float:right;
	color:var(--color-white);
	background-color:var(--color-blue);
	border-radius:2rem;
	padding:1rem;
	border: 2px solid var(--color-blue);
}
.buy-btn:hover{
	color:var(--color-blue);
	background-color:var(--color-white);
	border: 2px solid var(--color-blue);
}
.yellow1{
	background-color:var(--color-yellow);
}
.red1{
	background-color:var(--color-red);
}
.black1{
	background-color:var(--color-black);
}
.white1{
	background-color:var(--color-white);
}
.blue1{
	background-color:var(--color-blue);
}
.sky-blue1{
	background-color:var(--color-sky-blue);
}
.pink1{
	background-color:var(--color-pink);
}
.green1{
	background-color:var(--color-green-black);
}
.orange1 {
    background-color:var(--color-orange);
}
:root{
    --color-orange: #f48327;
    --color-pink: #d19fc6;
    --color-sky-blue:#2ee0f4;
	--color-white: #fff;
	--color-light:#f1f5f9;
	--color-black:#121212;
	--color-night:#001623;
	--color-red:#f44336;
	--color-blue:#1a73e8;
	--color-gray:#80868b;
	--color-grayish:#dadce0;
	--color-yellow:#F5FF39;
	--color-green-black:#003012;
	--shadow-normal:
		0 1px 2px 0 #0000001a,
		0 1px 2px 0 #0000000f;
	--shadow-medium:
		0 4px 6px -1px #0000001a,
		0 2px 4px -1px #0000000f;
	--shadow-large: 
		0 10px 15px -3px #0000001a,
		0 4px 6px -2px #0000000d;	
}
.product{
	display:flex;
	grid-template-columns:repeat(2,1fr);
}
.pro-image{
	width:200px;
	height:auto;
	transition: transform 0.3s ease;
}
.pro-image:hover{
	transform:scale(1.1);
}
#option-color1{
	height: 40%;
	width:auto
}
 #option-color3{
	top:0px;
	height: 45%;
	width:auto;
 }
h3 a{
	text-decoration:none;
	color:var(--color-black);
}
/*.one-col{
	display:grid;
	grid-template-areas:"home-main" "signuptest";
}
.artical-home{
	display:flex;
	grid-area:home-main;
}
.signuptest{
	display:flex;
	grid-area:signuptest;
}*/
.test{
	font-family:Arial,sans-serif;
	line-height:1.5;
}
.test h2, .test p, .test11{
	display:flex;
	justify-content:center;
	text-align:center;
}
.test p{
	color:#9D9D9D;
}
.input-sl{
	display:grid;
	grid-template-areas:"left-cell right-cell";
	grid-template-columns: 1fr 1fr;
}
.input-quantity{
	height: 3.25rem;
	width:100%;
	float:left;
	grid-area:left-cell;
}


